/* Dashboard page styles */
.dashboard {
  background-color: #acebcb; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Box styling for the welcome message and buttons */
.welcome-box {
  background-color: #3ca479; /* Box color */
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Style the title */
.welcome-box h1 {
  font-size: 30px;
  color: white; /* White color for the text */
  margin-bottom: 20px; /* Space between title and buttons */
}

/* Style buttons */
.button {
  padding: 10px 20px;
  margin: 10px 10px; /* Space between buttons */
  background-color: white;
  color: #287052;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #77ba95;
}
