.sidebar {
    width: 200px;
    background-color: #287052;
    color: white;
    padding: 20px;
    transition: width 0.3s;
  }
  
  .sidebar.closed {
    width: 50px;
  }
  
  .toggle-btn {
    background-color: #83f991;
    color: #287052;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .logout-btn {
    background-color: #55b384;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  